extends ../layout

block content
    div.container
        h1.mb-4 New article page
        div.form-group
        form(action='/articles', method='post')
            div.form-group
                label.for='Title'
                input(value=article.title type='text' name='title' id='title' class='form-control' required)

            div.form-group
                label.for='Description'
                textarea(name='description' id='description' class='form-control')
                    | #{article.description}

            div.form-group
                label.for='Markdown'
                textarea(name='markdown' id='markdown' class='form-control' required)
                    | #{article.markdown}


            button(type='submit' class=('btn btn-primary'))
                | Save
            a(href='/' class='btn btn-secondary')
                | Cancel
