extends ../layout

block content
    div.container
        h1.mb-4 Dodaj nowy atrykuł
        div.form-group
        form(action='/articles', method='post')
            div.form-group
                label.for='Tytuł'
                input(value=article.title type='text' name='title' id='title' class='form-control' required)

            div.form-group
                label.for='Krótki opis'
                textarea(name='description' id='description' class='form-control')
                    | #{article.description}

            div.form-group
                label.for='Treść artykułu'
                textarea(name='markdown' id='markdown' class='form-control' required )
                    | #{article.markdown}


            button(type='submit' class=('btn btn-primary'))
                | Zapisz
            a(href='/' class='btn btn-secondary')
                | Anuluj
